<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar">
    <div fxLayout="row" style="margin:10px;">
      <div fxFlex="20px" style="margin-top:10px">
      </div>
      <div fxFlex style="margin-left:50px">
        <span headline style="vertical-align:middle;">{{toolbarTitle}}</span>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav style="border: none;" #sidenav opened="true" mode="side" [ngStyle]="{ 'width.px': sidenavWidth}">
    <mat-nav-list class="mat-elevation-z4">
      <a mat-list-item [routerLink]="['/']" (click)="setToolbarTitle()" routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}">
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > sidenavWidthMin">
          <h5>Home</h5>
        </div>
      </a>
      <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
        <a mat-list-item [routerLink]="[item.route]" (click)="setToolbarTitle(item)" routerLinkActive="list-item-active">
          <mat-icon matListIcon [svgIcon]="item.icon"></mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth > sidenavWidthMin">
            <h5>{{item.title}}</h5>
          </div>
        </a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlex>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
